# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.WinFormsApp1.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Other\Programming\Projects\C#\WinFormsApp1\.idea\.idea.WinFormsApp1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
